# Binance API Configuration
# Get your API keys from https://www.binance.com/en/my/settings/api-management
BINANCE_API_KEY=바이낸스 API 키 입력
BINANCE_API_SECRET=바이낸스 API SECRET 키 입력

# Server Configuration
PORT=3000

# Use testnet for testing (true/false)
USE_TESTNET=true
